@use "../../../../styles/colors.module.scss" as *;

.Name {
    $size: clamp(2.75rem, 7vw, 4rem);
    font-size: $size;
    font-weight: 700;
    line-height: 1.2;

    margin: 0;

    text-shadow: calc(0.05 * $size) calc(0.05 * $size) 0 $color-accent;
}