@use "../../../styles/colors.module.scss" as *;

.Skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 100%;
    height: 100%;
    
    position: relative;
    padding: 3rem;

    overflow: hidden;
    box-sizing: border-box;
}

.Title {
    font-size: 2.5rem;
}

.Skills__container {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 1.5rem;
}