@use "../../../styles/colors.module.scss" as *;

.Socials {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    box-sizing: border-box;

    padding-inline: 2rem;

    a {
        color: $color-navbar-text;
        fill: $color-navbar-text;

        padding-inline: 0.5rem;
        
        transition: 
            color 0.2s ease-in-out,
            filter 0.2s ease-in-out;

        &:hover {
            color: $color-accent !important;
            filter: brightness(2);
        }
        
        svg {
            font-size: 2rem;
        }
    }
}