@use "/src/styles/colors.module.scss" as colors;

.Background {
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 100%;
    height: 100%;

    z-index: -99;

    overflow: hidden;
}

.Particles {
    position: relative;

    width: 100%;
    height: 100%;

    padding: 0;
    margin: 0;

    list-style: none;
}

$tailLength: 200;
.Particle {
    position: absolute;

    top: -5%;
    left: 0;

    border-radius: 100vw;

    background-color: colors.$color-accent;
    animation: fall 10s linear infinite;

    opacity: 0.25;

    &::before {
        content: "";

        position: absolute;
        bottom: 0;

        width: 50%;
        transform: translateX(50%);
        height: $tailLength+px;

        background: linear-gradient(to top, colors.$color-accent, colors.$color-accent-secondary, transparent);
    }
}

@keyframes fall {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(100vh);
    }
}

@media (prefers-reduced-motion: reduce) { 
    .Particle {
        animation: none;
    }

    @for $i from 1 through 100 {
        .Particle:nth-child(#{$i}) {
            transform: translateY(#{random(50)}vh);
        }
    }
}