@use "/src/styles/colors.module.scss" as *;
@use "/src/styles/breakpoints.module.scss" as *;

.Image {
    img {
        position: absolute;
        right: 0;
        bottom: 0;
        max-width: 25%;
        max-height: 100%;

        filter: drop-shadow(-7.5px 7.5px 0 $color-accent);

        animation: fadeIn 0.75s ease-in-out forwards;

    }

    @media screen and (max-width: $navbar-shrink) {
        width: 100%;
        display: flex;
        justify-content: center;

        img {
            position: relative;
            max-width: 50%;
            min-width: 250px;
        }
    }

    @keyframes fadeIn {
        0% {
            transform: translateX(100%);
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

