@use "../../../../styles/colors.module.scss" as *;

$logo-size: clamp(100px , 20vw, 128px);

.Skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    flex: 1 1 $logo-size;

    text-align: center;

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;

        width: $logo-size;
        height: $logo-size;

        background-color: $color-bg-medium;
        border-radius: 100%;

        cursor: pointer;
        
        svg {
            font-size: 3.5rem;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__name {
        margin-top: 0.75rem;
        font-weight: 600;
        font-size: 1rem;
    }
}