@use "../../../../styles/colors.module.scss" as *;

.Subtitle {
    position: relative;
    color: $color-accent;

    font-size: clamp(2rem, 5vw, 3rem);
    font-weight: 400;
    text-shadow: 3px 3px 5px rgba(0,0,0,0.2);

    &::after{
        content: "_";
        animation: blink 1s step-start infinite;
    }

    @keyframes blink {
        50% {
            opacity: 0;
        }
    }
}